<div>
  <button
    class="w-full flex justify-center items-center"
    id="batery"
    onclick="calculateBattery()"
  >
    <svg
      xmlns="http://www.w3.org/2000/svg"
      class="inline-block mr-2 align-top"
      width="30"
      height="30"
      viewBox="0 0 24 24"
      fill="none"
      stroke="#000000"
      stroke-width="1"
      stroke-linecap="round"
      stroke-linejoin="round"
    >
      <rect x="2" y="7" width="18" height="10" rx="2" ry="2"></rect>
      <rect x="20" y="10" width="2" height="4" rx="0.5"></rect>
      <rect
        id="battery-class"
        x="4"
        y="9"
        width="14"
        height="6"
        class="battery-yellow"></rect>
    </svg>
    <span class="text-sm">%</span>
  </button>
</div>

<script is:inline>
  setInterval(async () => {
    await calculateBattery();
  }, 30000);

  async function calculateBattery() {
    const battery = document.getElementById("batery");
    const batteryText = document.getElementById("batery").querySelector("span");
    const batteryClass = document.getElementById("battery-class");

    let voltage;
    try {
      const ESP32_IP_URL = ESP32_IP.replace("IP", getVariablesStore().ip);
      voltage = await fetchData(`${ESP32_IP_URL}/${GET_VOLTAJE}`);
    } catch (error) {
      return;
    }
    voltage = parseFloat(voltage);

    let batteryValue =
      voltage <= 3.0
        ? 0
        : Math.min(100, ((voltage - 3.0) / (4.15 - 3.0)) * 100);

    batteryValue = Math.round(batteryValue * 10) / 10;

    updateBatteryClass(batteryValue);

    batteryText.textContent = `${batteryValue}%`;
  }

  function updateBatteryClass(batteryValue) {
    const batteryElement = document.getElementById("battery-class");
    batteryElement.classList.remove(
      "battery-red",
      "battery-yellow",
      "battery-green",
    );
    if (batteryValue < 20) {
      batteryElement.classList.add("battery-red");
    } else if (batteryValue < 60) {
      batteryElement.classList.add("battery-yellow");
    } else {
      batteryElement.classList.add("battery-green");
    }
  }
</script>

<style>
  .battery-green {
    fill: #22c55e;
  }
  .battery-yellow {
    fill: #eab308;
  }
  .battery-red {
    fill: #ef4444;
  }
</style>
