<div>
  <button
    class="w-full rounded-md hover:bg-blue-800 border-2 border-blue-800 hover:text-white text-md text-blue-900 px-2 py-1"
    id="logout"
    onclick="openModalSystemConfig()"
  >
    <span class="px-2">Config</span>
  </button>
</div>
<script is:inline>
  function openModalSystemConfig() {
    showModalSystemConfig();
  }
</script>
