<!-- button for remove collect -->
<div>
  <button
    class="flex justify-center p-1 items-center w-full rounded-md border-2 border-red-700 hover:bg-red-800 hover:text-white text-md text-red-900"
    id="remove-collect"
    onclick="removeCollect()"
  >
    <span>
      <!-- svg icon trash -->
      <svg
        xmlns="http://www.w3.org/2000/svg"
        width="24"
        height="24"
        viewBox="0 0 24 24"
        fill="none"
        stroke="currentColor"
        stroke-width="2"
        stroke-linecap="round"
        stroke-linejoin="round"
      >
        <polyline points="3 6 5 6 21 6"></polyline>
        <path
          d="M19 6v14a2 2 0 0 1-2 2H7a2 2 0 0 1-2-2V6m3 0V4a2 2 0 0 1 2-2h4a2 2 0 0 1 2 2v2"
        ></path>
      </svg>
    </span>
  </button>
</div>
<script is:inline>
  function removeCollect() {
    const mawoiSelect = document.getElementById("mawoi-select").value;
    const pointSelect = document.getElementById("point-select").value;
    const dateCollect = document.getElementById("date-collect").value;

    if (!dateCollect) {
      alert("Please select an point and date");
      return;
    }

    const pointStore = findPointForCollectData(pointSelect);

    if (!pointStore) {
      alert("Not found point to delete");
      return;
    }

    const { mawoi, point } = pointStore;

    const message = `Are you sure you want to delete the mawoi ${mawoi.description} and point ${point.code} on ${formatDate(
      new Date(+dateCollect),
    )}`;
    const deleteConfirm = confirm(message);

    if (deleteConfirm) {
      // search mawoi with point and date in mawoisWithCollectData, if found, remove it
      const dataColllect = JSON.parse(
        localStorage.getItem("mawoisWithCollectData") || "[]",
      );
      const mawoiIndex = dataColllect.findIndex(
        (mawoi) => mawoi.id == mawoiSelect,
      );
      if (mawoiIndex >= 0) {
        const pointIndex = dataColllect[mawoiIndex].points.findIndex(
          (point) => point.id == pointSelect && point.date == dateCollect,
        );
        if (pointIndex >= 0) {
          dataColllect[mawoiIndex].points.splice(pointIndex, 1);
          localStorage.setItem(
            "mawoisWithCollectData",
            JSON.stringify(dataColllect),
          );
          window.location.reload();
        }
      }
    }
  }
</script>
