---
import Layout from "../layouts/Layout.astro";
import FormLogin from "../components/formLogin.astro";
---

<Layout title="Corel Force">
  <div class="bg-gray-100 overflow-hidden w-full flex justify-center">
    <div
      class="container h-[100vh] max-w-[1024px] flex justify-center items-center"
    >
      <FormLogin />
    </div>
  </div>
</Layout>
