---
import Layout from "../layouts/Layout.astro";
---

<Layout title="Welcome to Astro.">
  <div class="flex h-full w-full items-center justify-center p-4">
    <h1 class="text-xl">Welcome to Astro</h1>

    <div
      id="loadingOverlay"
      class="fixed inset-0 flex flex-col items-center justify-center bg-black bg-opacity-50 z-50 hidden"
    >
      <img src="corelusa.png" alt="Cargando..." class="h-24" />
      <span>Cargando...</span>
    </div>
  </div>

  <script>
    const $loadingOverlay = document.getElementById("loadingOverlay");
    $loadingOverlay?.classList.remove("hidden");
    setTimeout(() => {
      $loadingOverlay?.classList.add("hidden");
    }, 2000);
  </script>
</Layout>
