<div class="">
  <button
    id="button-picture"
    onclick="showImages()"
    class="flex border-blue-800 hover:bg-blue-800 text-blue-800 p-1 border-2 rounded-md"
  >
    <img
      src="/icons/pictures.svg"
      alt="find pictures"
      height="24px"
      width="24px"
    />
  </button>
</div>
