<div
  id="loadingOverlay"
  class="fixed inset-0 flex w-full h-full flex-col items-center justify-center bg-black bg-opacity-65 z-50 hidden"
>
  <img src="corelusa.png" alt="Loading..." class="h-24 w-24" />
  <span id="loadingMessage" class="text-white"></span>
  <span id="loadingSpan" class="text-white">Loading...</span>
</div>
<script is:inline>
  var loadingActive = false;
  function hideLoading() {
    const $loadingOverlay = document.getElementById("loadingOverlay");
    $loadingOverlay?.classList.add("hidden");
    loadingActive = false;
  }
  function showLoading() {
    const $loadingOverlay = document.getElementById("loadingOverlay");
    $loadingOverlay?.classList.remove("hidden");
    loadingActive = true;
  }
  function updateMessage(message) {
    const $loadingMessage = document.getElementById("loadingMessage");
    if ($loadingMessage) {
      $loadingMessage.innerHTML = message;
    }
  }
  function animateMessage() {
    const $loadingMessage = document.getElementById("loadingSpan");
    const text = $loadingMessage.innerText; // Obtiene el texto del span
    let index = 0; // Para controlar el índice de las letras

    // Función que mostrará las letras una por una
    function showLetter() {
      $loadingMessage.innerText = text.substring(0, index); // Mostrar hasta el índice actual
      index++;

      // Cuando todas las letras se hayan mostrado, reiniciar el índice
      if (index > text.length) {
        index = 0;
      }
    }

    // Repetir la animación cada 150ms (ajusta la velocidad si es necesario)
    setInterval(showLetter, 150);
  }

  // Llamar a la función para comenzar la animación
  animateMessage();
</script>
