---
import Loading from "../components/loading.astro";

interface Props {
  title: string;
}

const { title } = Astro.props;
---

<!doctype html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="description" content="PDM Monitor" />
    <meta name="viewport" content="width=device-width" />
    <link rel="icon" type="image/svg+xml" href="/favicon.png" />
    <meta name="generator" content={Astro.generator} />
    <title>{title}</title>
    <script src="../pwa.ts"></script>
    <script is:inline src="/js/ag-charts-enterprise_v1.js"></script>
    <script is:inline src="/js/sortable_v1.js"></script>
    <script is:inline src="/js/hanning-window_v1.js"></script>
    <script is:inline src="/js/sync-collect-data_v1.js"></script>
    <script is:inline src="/js/math-functions_v1.js"></script>
    <script is:inline src="/js/constants_v1.js"></script>
    <script is:inline src="/js/fetch_v1.js"></script>
    <script is:inline src="/js/crypto-js.min_v1.js"></script>
    <script is:inline src="/js/store/band-information_v1.js"></script>
    <script is:inline src="/js/store/collect-data_v1.js"></script>
    <script is:inline src="/js/store/system-config_v1.js"></script>
    <script>
      import "@fontsource/outfit";
    </script>
  </head>
  <body>
    <Loading />
    <slot />
  </body>
</html>
<style is:global>
  body {
    font-family: "Outfit", sans-serif;
  }
</style>
